html {
  height: 100%;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.application-container {
  margin:0 20% ;
  background: #fafafa;
}

@media all and (max-width: 800px) {
  .application-container {
    margin:0;
  }
}


.input-wrapper {
  padding: 1rem 0;
  .input-label {
    margin: 5px 0;
  }
  input {
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: .5px solid rgba(216,216,216,.5);
    border-radius: 6px;
    color: #000;
  }

  textarea {
    width: 25rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: .5px solid rgba(216,216,216,.5);
    border-radius: 6px;
  }
}

.pad1rem {
  padding: 1rem;
}

.padtb1rem {
  padding: 1rem 0;
}

.width15rem {
  width: 15rem;
}

.width5rem {
  width: 5rem;
}

.width5pc {
  width: 5pc;
}


.width10pc {
  width: 10pc;
}

.width15pc {
  width: 15pc;
}

.width20pc {
  width: 20pc;
}

.width30pc {
  width: 30pc;
}

.width50pc {
  width: 50pc;
}

.width65pc {
  width: 65pc;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background: deepskyblue;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-right {
  flex-direction: row-reverse;
}

.flex-justify-content-space-around {
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.thick-border {
  height: 8px;
  background: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.errors {
  color: red;
  text-transform: capitalize;
  font-size: 12px;
}
