html {
  height: 100%;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.application-container {
  margin:0 20% ;
  background: #fafafa;
}

.input-wrapper {
  padding: 1rem 0;
  .input-label {
    margin: 5px 0;
  }
  input {
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: .5px solid rgba(216,216,216,.5);
    border-radius: 6px;
    color: #000;
  }

  textarea {
    width: 25rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: .5px solid rgba(216,216,216,.5);
    border-radius: 6px;
  }
}

.pad1rem {
  padding: 1rem;
}

.width15rem {
  width: 15rem;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background: deepskyblue;
  color: white;
}

.flex {
  display: flex;
}

.flex-right {
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
}
