html {
  height: 100%;
}

#wrapper {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

}
// Color Codes
$primary-app-color: lightcoral;

.application-header {
  text-align: center;
  background: $primary-app-color;
  padding: 2rem;
  font-size: 20px;
}

.application-container {
  margin:0 20% ;
  background: #fafafa;
}

.input-wrapper {
  padding: 1rem 0;
  .input-label {
    margin: 5px 0;
  }
  input {
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
  }
}

.pad1rem {
  padding: 1rem;
}

.button {
  width: 15rem;
  padding: 10px;
  border-radius: 5px;
  background: $primary-app-color;
  color: white;
}
