<div id="wrapper">
    <div class="app-container">
        <ul class="navigation">
            <li>{{#link-to 'home'}}Home{{/link-to}}</li>
            {{#if session.currentUser}}
              {{#if session.currentUser.admin}}
                  <li>{{#link-to 'users'}} Users {{/link-to}}</li>
                  <li>{{#link-to 'questions'}} Questions {{/link-to}}</li>
              {{/if}}
              <li>{{#link-to 'users/reviews' session.currentUser.id}} Self Perf. Reviews {{/link-to}}</li>
              <li>{{#link-to 'users/othersPerformanceReviews' session.currentUser.id}} Others Perf. Reviews {{/link-to}}</li>
              <li {{action 'logout'}}>Sign Out</li>
            {{else}}
                <li>Sign In</li>
            {{/if}}
            </ul>
        <div class="application-container">
          {{outlet}}
        </div>
    </div>
</div>
