<div id="wrapper">
    <div class="app-container">
        <ul class="navigation">
            <li><a href="#">Home</a></li>
            {{#if session.currentUser}}
                <li>{{#link-to 'users'}} Users {{/link-to}}</li>
                <li>{{#link-to 'questions'}} Questions {{/link-to}}</li>
                <li {{action 'logout'}}>Sign Out</li>
            {{else}}
                <li>Sign In</li>
            {{/if}}
            </ul>
        <div class="application-container">
          {{outlet}}
        </div>
    </div>
</div>
