<div id="wrapper">
    <div class="app-container">
        <ul class="navigation">
            <li><a href="#">Home</a></li>
            <li>{{#link-to 'users'}} Users {{/link-to}}</li>
            <li>{{#link-to 'questions'}} Questions {{/link-to}}</li>
            <li><a href="#">Sign Out</a></li>
        </ul>
        <div class="application-container">
          {{outlet}}
        </div>
    </div>
</div>
