<div id="wrapper">
    <div class="app-container">
        <div class="application-header">
            Kalebr App
        </div>
        <div class="application-container">
          {{outlet}}
        </div>
    </div>
</div>
