{{outlet}}
<div class="login pad1rem">
    <div class="input-wrapper">
        <div class="input-label"> Email </div>
      {{input class="" type="text" value = email}}
    </div>
    <div class="input-wrapper">
        <div class="input-label "> Password</div>
      {{input type="password" value = password}}
    </div>

    <div class="button" {{action 'login'}}>
        Login
    </div>
</div>
