<div class="reviews pad1rem">
    <div class="flex flex-right">
        {{#if session.currentUser.admin}}
          {{#link-to 'users/performanceReview' model.id}}
              <div class="button">
                  Assign / Change Reviewers
              </div>
          {{/link-to}}
        {{/if}}
    </div>
    <div class="questions-list users-list">
      {{#each model as |review|}}
          <div class="single-user-row flex">
              <div class="width10pc">{{review.id}}</div>
              <div class="width30pc">{{review.reviewer.fullname}}</div>
              <div class="width20pc">
                {{#link-to 'users/review' session.currentUser (query-params view=true)}}View Reviews{{/link-to}}
              </div>
          </div>
          <div class="thick-border"></div>
      {{/each}}
    </div>
</div>
